@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url(./reset.css);

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
}

body {
  font-family: "Poppins", serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

.none {
  display: none !important;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

/* * * HEADER * * */

.header {
  position: relative;
  min-height: 940px;
  background: linear-gradient(154.32deg, rgb(66, 142, 95) -17.197%,rgb(17, 33, 32) 78.196%),rgb(32, 68, 52);
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;

  background-image: url("./../images/svg/header-bottom.svg");
  background-size: 100%;
}