@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url(./reset.css);

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
  --orange: #ff7c4e;
}

body {
  font-family: "Poppins", serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
  position: relative;
}

.none {
  display: none !important;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.container-right {
  padding-left: calc((100% - var(--container-width))/2 + var(--container-padding));
}

/* * * HEADER * * */

.header {
  position: relative;
  min-height: 940px;
  padding-top: 44px;
  background: linear-gradient(154.32deg, rgb(66, 142, 95) -17.197%,rgb(17, 33, 32) 78.196%),rgb(32, 68, 52);
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  color: #fff;
  background-image: url("./../images/svg/header-bottom.svg");
  background-size: 100%;
  overflow: hidden;
}

.header a {
  color: #fff;
}

.header__top {
  margin-bottom: 86px;
}

.header__row {
  display: flex;
}

.header__content {
  max-width: 592px;
  position: relative;
  z-index: 1;
}

.header__img {
  position: relative; 
  flex-grow: 1;
}

.header__img img {
  position: absolute;
  top: -181px;
  right: -14px;
  width: 860px;
  height: 940px;
  max-width: unset;
  pointer-events: none; /* BUGFIX с постером девушки */
}

/* * * NAVIGATION * * */

.nav {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  align-items: center;
}

.nav__list {
  display: flex;
  column-gap: 80px;
  font-size: 15px;
  font-weight: 500px;
}

.nav__list a {
  position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 10px;
  bottom: -6px;
  display: block;
  height: 4px;
  border-radius: 50px; 
  background-color: rgb(196, 196, 196);
}

.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
  display: none;
}

.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover {
  color: var(--orange);
}

.nav__login {
  display: flex;
  align-items: center;
  column-gap: 25px;
  font-size: 15px;
  font-weight: 500;
}

.nav__toggle {
  display: none;
}

/* * * NAVIGATION-SIDE * * */

.nav-side {
  opacity: 0.8;
  z-index: 10;
  position: fixed;
  top: 224px;
  left: 0;
  user-select: none;
  width: 87px;
  margin: auto;
  backdrop-filter: blur(75px);
  -webkit-backdrop-filter: blur(20px);
  /* transition: .6s linear; */
  padding: 25px 11px;
  border-top-right-radius: 30px; 
  border-bottom-right-radius: 30px; 
  box-shadow: 0px 5px 40px rgba(0,0,0,0.8);
}

.nav-item {
  color: #869791;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.nav-text {
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-weight: 500;
  display: none;
  transition: all 0.3s ease;
}

.material-icons {
  display: inline;
  font-size: 32px;
  transition: color .3s;
}

/* */

.nav-item.active {
  flex-grow: 3;
  border-radius: 30px;
  background: #eee;
  justify-content: flex-start;
  gap: 10px;
}

.nav-item.active > .nav-text {
  display: inline-block;
}

.nav-item.active > .material-icons.home-icon {
  color: var(--orange);
}

.material-icons.home-icon ~ .nav-text {
  color: var(--orange);
}

.nav-item.active > .material-icons.favorite-icon {
  color: #c9329a;
}

.material-icons.favorite-icon ~ .nav-text {
  color: #c9329a;
}

.nav-item.active > .material-icons.search-icon {
  color: #e5a023;
}

.material-icons.search-icon ~ .nav-text {
  color: #e5a023;
}

.nav-item.active > .material-icons.person-icon {
  color: #0091a9;
}

.material-icons.person-icon ~ .nav-text {
  color: #0091a9;
}



/* * * LOGO * * */

.logo {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.logo a {
  color: inherit !important;
}

.logo--footer {
  color: var(--orange);
}

/* * * HEADER-CONTENT * * */

.header__badge {
  border-radius: 15px; 
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 11px 30px;
  display: inline-block;
  margin-bottom: 7px;
}

.header__title {
  margin-bottom: 30px;
  font-size: 55px;
  color: #fff;
}

.header__text {
  margin-bottom: 68px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 15px; 
  color: rgba(255, 255, 255, 0.5);

}

/* * * DESTINATIONS * * */

.destination {
  padding: 96px 0 100px;
  overflow-x: hidden;
}

.destinations__row {
  display: flex;
  column-gap: 50px;
}

.destinations__content {
  max-width: 456px;
}

.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}

.destinations__title {
  margin-bottom: 15px;
  font-size: 55px;
  font-weight: 600px;
}

.destinations__title span {
  font-size: 30px;
}

.destinations__text {
  margin-bottom: 60px;
  font-size: 25px;
  font-weight: 500;
  color: var(--secondary);
}

.destination__btn {
  display: inline-block;
  border-radius: 27px; 
  background: linear-gradient(171.60deg, rgb(255, 123, 78) 15.573%,rgb(255, 88, 78) 95.03%);
  font-size: 20px;
  font-weight: 600;
  padding: 25px 45px;
  color: #fff;
}

.destination__btn:hover {
  background: linear-gradient(171.60deg, rgb(183, 88, 56) 11.462%,rgb(255, 88, 78) 97.358%),rgb(255, 255, 255);
  transition: color 0.2s ease-in;
}

.destination__btn:active {
  position: relative;
  top: 1px;
}

/* * * SLIDER * * */

.slider {
  position: relative;
  height: 456px;
}

.slider__item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  object-fit: cover; 
  border-radius: 35px;
  transition: 0.2s ease-in;
}

.slider .center .slider__item {
  margin-top: 0;
  width: 380px;
  height: 456px;
}

.slider__btn {
  
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(171.60deg, rgb(255, 123, 78) -18.787%,rgb(255, 88, 78) 114.48%),rgb(139, 139, 139);
  
}

.slider__btn svg {
  width: 20px;
  fill: #fff;
}

.slider__btn--prev {
  position: absolute;
  left: -27px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

.slider__btn--next {
  position: absolute;
  right: -27px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

/* * * CUSTOMERS * * */

.customers {
  padding: 100px 0 133px;
}

.customers__row {
  display: flex;
  /* justify-content: space-between; */
  column-gap: 68px;
}

.customers__img {
  max-width: 478px;
}

.customers__img img {
  border-radius: 60px;
}

.customers__content {
  
}

.customers__title {
  max-width: 565px;
  margin-bottom: 35px;
  font-size: 45px;
  font-weight: 500;
}


/* * * REVIEW * * */

.review {
  max-width: 490px;
}

.review__client {
  display: flex;
  align-items: center;
  column-gap: 33px;
  margin-bottom: 60px;
}

.review__client-avatar {
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background: #ff794e;
  overflow: hidden;
}

.review__client-desc {}

.review__client-desc-name {
  font-size: 33px;
  font-weight: 500;
  margin-bottom: 10px;
}

.review__client-desc-country {
  font-size: 25px;
  color: var(--secondary);
}

.review__text {
  margin-bottom: 30px;
  color: var(--secondary);
  font-size: 22px;
  font-weight: 500;
}

/* * * RATING * * */

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 60px;
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(90deg, #ff794e var(--percent), #fff var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .review__rating {
  font-size: 50px;
  display: flex;
  column-gap: 10px;
  flex-direction: row-reverse;
  justify-content: flex-end;
} */

/* .review__rating input {
  display: none;
} */

/* .review__rating label {
  position: relative;
  color: #ff794e;
} */

/* .review__rating label:before {
  content: '★';
  position: absolute;
  opacity: 0;
} */

/* .review__rating label:hover:before,
.review__rating label:hover ~ label:before {
  opacity: 1 !important;
} */

/* .review__rating input:checked + label:before,
.review__rating input:checked ~ label:before {
  opacity: 1;
} */

/* .review__rating:hover input:checked ~ label:before {
  opacity: 0.3;
} */

/* .review__rating input:checked ~ label:before {
  opacity: 0.3;
} */

/* * * Call To Action * * */

.cta {
  padding: 100px 0;
}

.cta__plate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 580px;
  padding: 40px 15px;
  background-color: #fff;
  border-radius: 60px;
}

.cta__plate::before,
.cta__plate::after {
  position: absolute;
  width: 63px;
  height: 83px;
  content: "";
}

.cta__plate::before {
  left: 74px;
  bottom: 56px;
  background-image: url(./../images/svg/cta-el-01.svg);
}

.cta__plate::after {
  top: 74px;
  right: 80px;
  background-image: url(./../images/svg/cta-el-02.svg);
}

.cta__title {
  max-width: 519px;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.cta__text {
  font-size: 30px;
  color: var(--secondary);
  margin-bottom: 60px;
}

.cta__button {
  background: linear-gradient(171.60deg, rgb(255, 123, 78) 14.981%,rgb(255, 88, 78) 95.366%);
  color: #fff;
  padding: 25px 55px;
  border-radius: 27px;
}

.cta__button:hover {
  background: linear-gradient(171.60deg, rgb(183, 88, 56) 11.462%,rgb(255, 88, 78) 97.358%),rgb(255, 255, 255);
  transition: color 0.2s ease-in;
}

.cta__button:active {
  position: relative;
  top: 1px;
}

/* * * SUBSCRIBE * * */

.subscribe {
  padding: 35px 0 50px;
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subscribe__title {
  margin-bottom: 60px;
  max-width: 494px;
  font-size: 55px;
  font-weight: 600;
}

.subscribe-form {
  padding: 12px 15px 12px 46px;
  border-radius: 35px;
  background-color: #fff;
  display: flex;
  column-gap: 20px;
}

.subscribe-form__input {
  font-size: 24px;
  font-weight: 500;
  
  width: 400px;
}

.subscribe-form__input::placeholder {
  color: var(--secondary);
}

/* FOOTER */

.footer {
  padding: 56px 0 74px;
}

.footer a {
  color: var(--secondary);
}

/* * * BUTTON * * */

.btn {
  padding: 13px 44px;
  border-radius: 100px; 
  background: linear-gradient(171.60deg, rgb(255, 122, 78) 11.462%,rgb(255, 88, 78) 97.358%),rgb(255, 255, 255);
  color: #fff !important;
  display: inline-block;
  font-size: 15px;
  font-weight: 500px;
}

.btn:hover {
  background: linear-gradient(171.60deg, rgb(183, 88, 56) 11.462%,rgb(255, 88, 78) 97.358%),rgb(255, 255, 255) !important;
  transition: color 0.2s ease-in;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn--login {
  padding: 13px 44px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 100px;
}

.btn--header {
  font-size: 25px;
  padding: 27px 48px;
}

.btn--subscribe {
  padding: 36px 86px;
  font-size: 25px;
  border-radius: 35px;
}

/* * * BURGER MENU * * */

.menu-icon-wrapper {
	--time: 0.1s;
	--width: 40px;
	--height: 30px;
	--line-height: 4px;
	--color: #fff;

	height: var(--height);
	width: var(--width);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-icon {
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: var(--width);
	height: var(--line-height);

	background-color: var(--color);
	transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
	top: calc(var(--line-height) * -2);
}

.menu-icon::after {
	top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active {
	background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
	top: 0;
	transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before {
	transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
	transform: rotate(-45deg);
}


/* * * RESPONSIVE DESIGN * * */

@media (max-width: 1269px) {

  .container-right {
    padding-left: 15px;
  }
}

@media (max-width: 1000px) {

  .nav--mobile .logo {
    font-size: 34px;
  }

  .nav__list {
    display: none;
  }

  .nav__login {
    display: none;
  }

  .nav__toggle {
    display: block;
  }

  .nav--mobile {
    position: fixed;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: linear-gradient(205deg, rgb(66, 142, 95) -17.197%, rgb(17, 33, 32) 78.196%), rgb(32, 68, 52);
  }

  .nav--mobile .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    font-size: 22px;
  }

  .nav--mobile .nav__list a.active::after,
  .nav--mobile .nav__list a:hover::after  {
    display: none;
  }

  .nav--mobile .nav__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    font-size: 22px;
  }

  .nav--mobile .nav__toggle {
    position: fixed;
    top: 44px;
    right: 14px;
  }
}